# Copy this to `mqttConfig.py` and set your own vars
broker_url = "192.168.1.1"
broker_port = 1883
broker_auth = {"username":"sammy", "password":"sammy"}
broker_tls = {"ca_certs": ""}
topic = "van/solar"
client_id = "van"